
<div class="container-fluid">
  <h1>Elérhető komplex témák:</h1>

  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="card-my-img col-12 col-md-5 col-lg-3">
            <div style="width: 280px;height: 280px">
              <div style="width: 276px;height: 183px" [ngStyle]="{'background-image': getMobile()}"> </div>
            </div>
          </div>

          <div class="card-my-box col-12 col-md-7 col-lg-9">
            <h5 class="card-title">Játék készítése Android környezetben</h5>
            <p class="card-text">
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec diam risus, tristique a varius sodales, ornare vel diam. Nam vitae congue turpis, in dictum lorem. In consectetur suscipit augue at eleifend</li>
              <li>Sed varius elit a nibh luctus tincidunt. Donec sit amet nunc sit amet nisi pharetra varius. Suspendisse mollis sapien a ligula malesuada dapibus. Vestibulum tortor ligula, condimentum in elit nec, aliquam tempus lectus.</li>
              <li>Integer suscipit tempor velit, a accumsan elit elementum ut. Quisque congue viverra iaculis. Suspendisse nec pharetra odio. Vestibulum in facilisis mauris. Vestibulum ut iaculis justo.</li>
              <li>Duis suscipit sollicitudin justo, id porta risus. Quisque sit amet diam in ex egestas feugiat. Vivamus lobortis ullamcorper hendrerit.</li>
            </ul>
            <a href="mailto: iitdl@uni-miskolc.hu" class="btn btn-primary">Ez érdekel, írok egy email-t ezzel kapcsolatban!</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="card-my-img col-12 col-md-5 col-lg-3">
            <div style="width: 280px;height: 280px">
              <div style="width: 276px;height: 166px" [ngStyle]="{'background-image': getUnity()}"> </div>
            </div>
          </div>

          <div class="card-my-box col-12 col-md-7 col-lg-9">
            <h5 class="card-title">Játék készítése Unity környezetben</h5>
            <p class="card-text">
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec diam risus, tristique a varius sodales, ornare vel diam. Nam vitae congue turpis, in dictum lorem. In consectetur suscipit augue at eleifend</li>
              <li>Sed varius elit a nibh luctus tincidunt. Donec sit amet nunc sit amet nisi pharetra varius. Suspendisse mollis sapien a ligula malesuada dapibus. Vestibulum tortor ligula, condimentum in elit nec, aliquam tempus lectus.</li>
              <li>Integer suscipit tempor velit, a accumsan elit elementum ut. Quisque congue viverra iaculis. Suspendisse nec pharetra odio. Vestibulum in facilisis mauris. Vestibulum ut iaculis justo.</li>
              <li>Duis suscipit sollicitudin justo, id porta risus. Quisque sit amet diam in ex egestas feugiat. Vivamus lobortis ullamcorper hendrerit.</li>
            </ul>
            <a href="mailto: iitdl@uni-miskolc.hu" class="btn btn-primary">Ez érdekel, írok egy email-t ezzel kapcsolatban!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
