<div class="container-fluid">
  <h1>Elérhető Szakdolgozat témák:</h1>

  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="card-my-img col-12 col-md-5 col-lg-3">
            <img src="../../../image/degree/informacios_szolg.png" alt="HTML5">
          </div>

          <div class="card-my-box col-12 col-md-7 col-lg-9">
            <h5 class="card-title">1. Hallgatói információs szolgáltató felület készítése</h5>
            <p class="card-text">
            <ul>
              <li>Elemezze a tanszék külsős támogatói rendszerét, a lehetséges támogatók félesége és a lehetséges információ-jellegű támogatási, együttműködési formák – pl. szakdolgozattémák felajánlása, állásajánlatok, gyárlátogatási ajánlatok, vállalati nyílt napok adatai, vállalati ösztöndíjak, stb.- szempontjából!</li>
              <li>Készítse el a rendszertervét egy webes hallgatói információs rendszernek, amely webes hirdetési felület jelleggel nyújt információ-közzétételi lehetőséget külső vállalatoknak, intézményeknek az Informatikai Épületben telepített nagyméretű információs képernyőn! A rendszer kezelje a beregisztrálást, a tartalomfeltöltést, a tartalomellenőrzési funkciót, az információ-közzétételi (hirdetési) időszakot, a támogatói akciók nyilvántartását.</li>
              <li>Ismerje meg a rendelkezésre álló hardveres futtatókörnyezetet és válassza meg az alkalmas programozási környezetet a kliens-szerver alkalmazás elkészítéséhez, választását indokolja!</li>
              <li>Készítse el az alkalmazás programját és virtuális támogatókkal, adatokkal tesztelje!</li>
              <li>Tesztelje az információs rendszer működését és készítsen hozzá egy tömör alkalmazási leírást, mely a keretrendszer súgóját is képezi! Dokumentálja munkáját a Szakdolgozatban/Diplomamunkában!</li>
            </ul>
            <a href="mailto: iitdl@uni-miskolc.hu" class="btn btn-primary">Ez érdekel, írok egy email-t ezzel kapcsolatban!</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="card-my-img col-12 col-md-5 col-lg-3">
            <img src="../../../image/degree/szabadsag-nyilvantartas.png" alt="HTML5">
          </div>

          <div class="card-my-box col-12 col-md-7 col-lg-9">
            <h5 class="card-title">3. WEB-alapú szabadságnyilvántartó rendszer készítése
            </h5>
            <p class="card-text">
            <ul>
              <li>Ismerje meg a Miskolci Egyetem Szabályzatának a munkahelyi szabadság kiadására vonatkozó pontjait!</li>
              <li>Készítse el a rendszertervét egy automatikus havi lejelentések megtételére képes éves szabadságnyilvántartó rendszernek! A program vegye figyelembe a rendes és eseti szabadnapokat, tegye lehetővé a közalkalmazott szabadságválasztásában a maximális szabadságfokot, ugyanakkor tartsa be az összes vonatkozó országos és helyi szabályzat előírását. A rendszer webes felületen, kliens-szerver rendszerben működjön, kezelje az alkalmazotti, vezetői és rendszergazdai jogosultságokat. Nyújtson áttekintő felületet az alkalmazott saját szabadságainak állására, továbbá a vezető számára az összes alkalmazott vonatkozásában.</li>
              <li>Válassza meg az alkalmas programozási és futtatókörnyezetet a program elkészítéséhez, választását indokolja!</li>
              <li>Készítse el az alkalmazás programját és minden eshetőségre kiterjedő képzeletbeli adatokkal tesztelje!</li>
              <li>Készítse el az alkalmazás felhasználói kézikönyvét és ennek kivonatos ismertetésével mutassa be a használat lépéseit!</li>
            </ul>
            <a href="mailto: iitdl@uni-miskolc.hu" class="btn btn-primary">Ez érdekel, írok egy email-t ezzel kapcsolatban!</a>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>






