<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12 subject-box">
          <div class="accordion" id="accordionExample">
            <div class="card subject-box__card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne, #collapseOneV1" aria-expanded="true" aria-controls="collapseOne">
                    <h1>Mesterséges Intelligencia - Előadás</h1>
                  </button>
                </h2>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="container-fluid">

                  <div class="row li-menu">
                    <div class="li-menu__br"></div>
                    <div class="col-md-6"><h3>I. Előadás</h3></div>

                    <div class="col-md-3 col-12  li-menu__button">
                      <a href="http://ait.iit.uni-miskolc.hu/~dudas/MIEAok/MIea1.PDF" target="_blank">
                        <button type="button" class="btn btn-outline-primary">Megtekintés</button>
                      </a>

                    </div>

                    <div class="col-md-3 col-12  li-menu__button">
                      <a href="../../../EA/MIea1.PDF" download="">
                        <button type="button" class="btn btn-outline-primary">Letöltés</button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div id="collapseOneV1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="container-fluid">

                  <div class="row li-menu">
                    <div class="li-menu__br"></div>
                    <div class="col-md-6"><h3>II. Előadás</h3></div>

                    <div class="col-md-3 col-12  li-menu__button">
                      <a href="http://ait.iit.uni-miskolc.hu/~dudas/MIEAok/MIea2.PDF" target="_blank">
                        <button type="button" class="btn btn-outline-primary">Megtekintés</button>
                      </a>

                    </div>

                    <div class="col-md-3 col-12  li-menu__button">
                      <a href="../../../EA/MIea2.PDF" download="">
                        <button type="button" class="btn btn-outline-primary">Letöltés</button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div id="collapseOneV1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="container-fluid">

                  <div class="row li-menu">
                    <div class="li-menu__br"></div>
                    <div class="col-md-6"><h3>III. Előadás</h3></div>

                    <div class="col-md-3 col-12  li-menu__button">
                      <a href="http://ait.iit.uni-miskolc.hu/~dudas/MIEAok/MIea3.PDF" target="_blank">
                        <button type="button" class="btn btn-outline-primary">Megtekintés</button>
                      </a>

                    </div>

                    <div class="col-md-3 col-12  li-menu__button">
                      <a href="../../../EA/MIea3.PDF" download="">
                        <button type="button" class="btn btn-outline-primary">Letöltés</button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div id="collapseOneV1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="container-fluid">

                  <div class="row li-menu">
                    <div class="li-menu__br"></div>
                    <div class="col-md-6"><h3>IV. Előadás</h3></div>

                    <div class="col-md-3 col-12  li-menu__button">
                      <a href="http://ait.iit.uni-miskolc.hu/~dudas/MIEAok/MIea4.PDF" target="_blank">
                        <button type="button" class="btn btn-outline-primary">Megtekintés</button>
                      </a>

                    </div>

                    <div class="col-md-3 col-12  li-menu__button">
                      <a href="../../../EA/MIea4.PDF" download="">
                        <button type="button" class="btn btn-outline-primary">Letöltés</button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div id="collapseOneV1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="container-fluid">

                  <div class="row li-menu">
                    <div class="li-menu__br"></div>
                    <div class="col-md-6"><h3>V. Előadás</h3></div>

                    <div class="col-md-3 col-12  li-menu__button">
                      <a href="http://ait.iit.uni-miskolc.hu/~dudas/MIEAok/MIea5.PDF" target="_blank">
                        <button type="button" class="btn btn-outline-primary">Megtekintés</button>
                      </a>

                    </div>

                    <div class="col-md-3 col-12  li-menu__button">
                      <a href="../../../EA/MIea5.PDF" download="">
                        <button type="button" class="btn btn-outline-primary">Letöltés</button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>


              <div id="collapseOneV1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="container-fluid">

                  <div class="row li-menu">
                    <div class="li-menu__br"></div>
                    <div class="col-md-6"><h3>VI. Előadás</h3></div>

                    <div class="col-md-3 col-12  li-menu__button">
                      <a href="http://ait.iit.uni-miskolc.hu/~dudas/MIEAok/MIea6.PDF" target="_blank">
                        <button type="button" class="btn btn-outline-primary">Megtekintés</button>
                      </a>

                    </div>

                    <div class="col-md-3 col-12  li-menu__button">
                      <a href="../../../EA/MIea6.PDF" download="">
                        <button type="button" class="btn btn-outline-primary">Letöltés</button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div id="collapseOneV1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="container-fluid">

                  <div class="row li-menu">
                    <div class="li-menu__br"></div>
                    <div class="col-md-6"><h3>VII. Előadás</h3></div>

                    <div class="col-md-3 col-12  li-menu__button">
                      <a href="http://ait.iit.uni-miskolc.hu/~dudas/MIEAok/MIea7.PDF" target="_blank">
                        <button type="button" class="btn btn-outline-primary">Megtekintés</button>
                      </a>

                    </div>

                    <div class="col-md-3 col-12  li-menu__button">
                      <a href="../../../EA/MIea7.PDF" download="">
                        <button type="button" class="btn btn-outline-primary">Letöltés</button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>


              <div id="collapseOneV1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="container-fluid">

                  <div class="row li-menu">
                    <div class="li-menu__br"></div>
                    <div class="col-md-6"><h3>VII. Előadás</h3></div>

                    <div class="col-md-3 col-12  li-menu__button">
                      <a href="http://ait.iit.uni-miskolc.hu/~dudas/MIEAok/MIea8.PDF" target="_blank">
                        <button type="button" class="btn btn-outline-primary">Megtekintés</button>
                      </a>

                    </div>

                    <div class="col-md-3 col-12  li-menu__button">
                      <a href="../../../EA/MIea8.PDF" download="">
                        <button type="button" class="btn btn-outline-primary">Letöltés</button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>


              <div id="collapseOneV1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="container-fluid">

                  <div class="row li-menu">
                    <div class="li-menu__br"></div>
                    <div class="col-md-6"><h3>IX. Előadás</h3></div>

                    <div class="col-md-3 col-12  li-menu__button">
                      <a href="http://ait.iit.uni-miskolc.hu/~dudas/MIEAok/MIea9.PDF" target="_blank">
                        <button type="button" class="btn btn-outline-primary">Megtekintés</button>
                      </a>

                    </div>

                    <div class="col-md-3 col-12  li-menu__button">
                      <a href="../../../EA/MIea9.PDF" download="">
                        <button type="button" class="btn btn-outline-primary">Letöltés</button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div id="collapseOneV1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="container-fluid">

                  <div class="row li-menu">
                    <div class="li-menu__br"></div>
                    <div class="col-md-6"><h3>X. Előadás</h3></div>

                    <div class="col-md-3 col-12  li-menu__button">
                      <a href="http://ait.iit.uni-miskolc.hu/~dudas/MIEAok/MIea10.PDF" target="_blank">
                        <button type="button" class="btn btn-outline-primary">Megtekintés</button>
                      </a>

                    </div>

                    <div class="col-md-3 col-12  li-menu__button">
                      <a href="../../../EA/MIea10.PDF" download="">
                        <button type="button" class="btn btn-outline-primary">Letöltés</button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div id="collapseOneV1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="container-fluid">

                  <div class="row li-menu">
                    <div class="li-menu__br"></div>
                    <div class="col-md-6"><h3>XI. Előadás</h3></div>

                    <div class="col-md-3 col-12  li-menu__button">
                      <a href="http://ait.iit.uni-miskolc.hu/~dudas/MIEAok/MIea11.PDF" target="_blank">
                        <button type="button" class="btn btn-outline-primary">Megtekintés</button>
                      </a>

                    </div>

                    <div class="col-md-3 col-12  li-menu__button">
                      <a href="../../../EA/MIea11.PDF" download="">
                        <button type="button" class="btn btn-outline-primary">Letöltés</button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div id="collapseOneV1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="container-fluid">

                  <div class="row li-menu">
                    <div class="li-menu__br"></div>
                    <div class="col-md-6"><h3>XII. Előadás</h3></div>

                    <div class="col-md-3 col-12  li-menu__button">
                      <a href="http://ait.iit.uni-miskolc.hu/~dudas/MIEAok/MIea12.PDF" target="_blank">
                        <button type="button" class="btn btn-outline-primary">Megtekintés</button>
                      </a>

                    </div>

                    <div class="col-md-3 col-12  li-menu__button">
                      <a href="../../../EA/MIea12.PDF" download="">
                        <button type="button" class="btn btn-outline-primary">Letöltés</button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>


              <div id="collapseOneV1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="container-fluid">

                  <div class="row li-menu">
                    <div class="li-menu__br"></div>
                    <div class="col-md-6"><h3>XIII. Előadás</h3></div>

                    <div class="col-md-3 col-12  li-menu__button">
                      <a href="http://ait.iit.uni-miskolc.hu/~dudas/MIEAok/MIea13.PDF" target="_blank">
                        <button type="button" class="btn btn-outline-primary">Megtekintés</button>
                      </a>

                    </div>

                    <div class="col-md-3 col-12  li-menu__button">
                      <a href="../../../EA/MIea13.PDF" download="">
                        <button type="button" class="btn btn-outline-primary">Letöltés</button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>




            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
