<div class="main-header" [ngStyle]="{'background-image': getUrl()}">
  <div class="main-header__text">
    <div class="main-header__england">Mérnökinformatikus<br>Gazdaság-Informatikus<br>Programtervező - Informatikus</div>
    <h1><span class="light_bold">Mesterséges</span> Intelligencia</h1>

    <div class="banner-buttom">
      <a href="http://ait.iit.uni-miskolc.hu/~dudas/index-old.htm"  target="_blank">
        <button type="button" class="btn btn-primary main-header__btn-primary--one">Elérhetőség</button>
      </a>
  </div>
  </div>
</div>

