<div class="main-header" [ngStyle]="{'background-image': getUrl()}">
  <div class="main-header__text">
    <div class="main-header__england">Programtervező - Informatikus </div>
    <h1><span class="light_bold">Mesterséges</span> Intelligencia</h1>

    <div class="banner-buttom">
      <a>
        <button type="button" class="btn btn-primary main-header__btn-primary--one">Konzultáció</button>
      </a>
      <a href="http://ait.iit.uni-miskolc.hu/~dudas/index-old.htm">
        <button type="button" class="btn btn-primary main-header__btn-primary--two">Elérhetőség</button>
      </a>
  </div>
  </div>
</div>

