<div class="container-fluid container-links">
  <div class="links-main">
    <h2>Mesterséges Intelligenciához kapcsolodó cikkek:</h2>
    <ul>
      <li><a href="https://hu.wikipedia.org/wiki/Mesters%C3%A9ges_intelligencia"  target="_blank">Mesterséges Intelligencia</a></li>
    </ul>

    <ul>
      <li><a href="https://hvg.hu/cimke/mesters%C3%A9ges_intelligencia"  target="_blank">HVG Mesterséges Intelligencia</a></li>
    </ul>
    <ul>
      <li><a href="https://index.hu/24ora/?cimke=mesters%C3%A9ges+intelligencia"  target="_blank">Index Mesterséges Intelligencia</a></li>
    </ul>

    <ul>
      <li><a href="https://computerworld.hu/tech/terjed-a-mesterseges-intelligencia-258517.html"  target="_blank">Terjed a Mesterséges Intelligencia</a></li>
    </ul>
  </div>
</div>
