<div class="container-fluid">
  <h1>Mesterséges Intelligencia ZH</h1>

  <div class="row li-menu">
    <div class="li-menu__br"></div>
    <div class="col-md-6"><h3>2018.03.12. ZH feladatsor</h3></div>

    <div class="col-md-3 li-menu__button">
      <button type="button" class="btn btn-outline-primary">Megtekintés</button>
    </div>

    <div class="col-md-3 li-menu__button">
      <button type="button" class="btn btn-outline-primary">Letöltés</button>
    </div>

    <div class="li-menu__br"></div>
  </div>
</div>


