//color
$white: #FFFFFF;
$black: #000000;
$red: #FF0000;
$bottom-green: #8ec545;
$bottom-blue: #1876c0;
$after-gray: #eaeaea;
$navbar-header: #343a40;

$mixingblack: rgba(0,0,0,0.8);






//font
$Montserrat:  'Montserrat', sans-serif;