<!--<mat-divider></mat-divider>-->

<!--<div *ngFor="let arr of someKindOfMagixelsozh">
    {{arr.id}}
    {{arr.nev}}
</div>
-->

  <p>1. kérdés: {{elsozh.nev}}  ({{elsozh.pontszam}}p)</p>
  <p>2. kérdés: {{elsozh1.nev}}  ({{elsozh1.pontszam}}p)</p>
  <p>3. kérdés: {{elsozh2.nev}}  ({{elsozh2.pontszam}}p)</p>
  <p>4. kérdés: {{elsozh3.nev}}  ({{elsozh3.pontszam}}p)</p>
  <p>5. kérdés: {{elsozh4.nev}}  ({{elsozh4.pontszam}}p)</p>
  <p>6. kérdés: {{elsozh5.nev}}  ({{elsozh5.pontszam}}p)</p>
  <p>7. kérdés: {{elsozh6.nev}}  ({{elsozh6.pontszam}}p)</p>
  <p>8. kérdés: {{elsozh7.nev}}  ({{elsozh7.pontszam}}p)</p>
  <p>9. kérdés: {{elsozh8.nev}}  ({{elsozh8.pontszam}}p)</p>

  <p>Összpontszám {{maxeredmeny}}</p>
<!--
<h1>ZH Generátor</h1>
<div>
  <p>1. kérdés: {{elsozh.nev}}  ({{elsozh.pontszam}}p)</p>

 <p>1. kérdés: {{elsozh.nev}}  ({{elsozh.pontszam}}p)</p>
  <p>2. kérdés: {{elsozh1.nev}} ({{elsozh1.pontszam}}p)</p>
  <p>3. kérdés: {{elsozh2.nev}} ({{elsozh2.pontszam}}p)</p>
  <p>4. kérdés: {{elsozh3.nev}} ({{elsozh3.pontszam}}p)</p>
  <p>5. kérdés: {{elsozh4.nev}} ({{elsozh4.pontszam}}p)</p>


  <p>Összes pont: 72p</p>
  <p>Feladatok pontja: {{maxeredmeny}}</p>

</div>-->

