<!--<mat-divider></mat-divider>-->

<!--<div *ngFor="let arr of someKindOfMagixelsozh">
    {{arr.id}}
    {{arr.name}}
</div>
-->


<h1>ZH Generátor</h1>
<div>
  <p>1. kérdés: {{elsozh.name}}  ({{elsozh.pontszam}}p)</p>
  <p>2. kérdés: {{elsozh1.name}} ({{elsozh1.pontszam}}p)</p>
  <p>3. kérdés: {{elsozh2.name}} ({{elsozh2.pontszam}}p)</p>
  <p>4. kérdés: {{elsozh3.name}} ({{elsozh3.pontszam}}p)</p>
  <p>5. kérdés: {{elsozh4.name}} ({{elsozh4.pontszam}}p)</p>

  <p>Második ZH</p>
  <p>1. kérdés: {{masodikzh1.name}} ({{masodikzh1.pontszam}}p)</p>
  <p>2. kérdés: {{masodikzh2.name}} ({{masodikzh2.pontszam}}p)</p>
  <p>3. kérdés: {{masodikzh3.name}} ({{masodikzh3.pontszam}}p)</p>
  <p>4. kérdés: {{masodikzh4.name}} ({{masodikzh4.pontszam}}p)</p>
  <p>5. kérdés: {{masodikzh5.name}} ({{masodikzh5.pontszam}}p)</p>




  <p>Összes pont: 72p</p>
  <p>Feladatok pontja: {{maxeredmeny}}</p>

</div>

