<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
  <meta charset="UTF-8">
  <title>Honlap címe</title>
</head>

<body>
<app-generatornavbar-component></app-generatornavbar-component>

  <div class="row">
    <div class="col-12 col-md-5">
     Vizsga dolgozat III. évf. Mesterséges Intelligencia BSc <br>
      Miskolc, 2019.05.01.
    </div>

    <p class="col-12 col-md-2">A csop.</p>

    <div class="title col-12 col-md-5">
      <span>Név: ................................................................................</span> <br>
      <span>Tankör: ..........................................................................</span> <br>
      <span>Neptun kód: ...............................................................</span> <br>
      <span>Gyakorlatvezető: .......................................................</span>
    </div>
  </div>

    <div *ngIf="isValid0">
      <p>1. kérdés: {{vizsga.nev}}  ({{vizsga.pontszam}}p)</p>
    </div>

    <div *ngIf="isValid1">
      <p>2. kérdés: {{vizsga1.nev}}  ({{vizsga1.pontszam}}p)</p>
    </div>

    <div *ngIf="isValid2">
      <p>3. kérdés: {{vizsga2.nev}}  ({{vizsga2.pontszam}}p)</p>
    </div>

    <div *ngIf="isValid3">
      <p>4. kérdés: {{vizsga3.nev}}  ({{vizsga3.pontszam}}p)</p>
    </div>

    <div *ngIf="isValid4">
      <p>5. kérdés: {{vizsga4.nev}}  ({{vizsga4.pontszam}}p)</p>
    </div>

    <div *ngIf="isValid5">
      <p>6. kérdés: {{vizsga5.nev}}  ({{vizsga5.pontszam}}p)</p>
    </div>

    <div *ngIf="isValid6">
      <p>7. kérdés: {{vizsga6.nev}}  ({{vizsga6.pontszam}}p)</p>
    </div>

    <div *ngIf="isValid7">
      <p>8. kérdés: {{vizsga7.nev}}  ({{vizsga7.pontszam}}p)</p>
    </div>

    <div *ngIf="isValid8">
      <p>9. kérdés: {{vizsga8.nev}}  ({{vizsga8.pontszam}}p)</p>
    </div>

    <div *ngIf="isValid9">
      <p>10. kérdés: {{vizsga9.nev}}  ({{vizsga9.pontszam}}p)</p>
    </div>

    <div *ngIf="isValid10">
      <p>11. kérdés: {{vizsga10.nev}}  ({{vizsga10.pontszam}}p)</p>
    </div>

    <div *ngIf="isValid11">
      <p>12. kérdés: {{vizsga11.nev}}  ({{vizsga11.pontszam}}p)</p>
    </div>

    <div *ngIf="isValid12">
      <p>13. kérdés: {{vizsga12.nev}}  ({{vizsga12.pontszam}}p)</p>
    </div>

    <div *ngIf="isValid13">
        <p>14. kérdés: {{vizsga13.nev}}  ({{vizsga13.pontszam}}p)</p>
    </div>

  <p>Maximum pontszám {{maxeredmeny}}p</p>

  <p>Értékelés: 0-{{maxeredmeny*0.5}}p elégtelen, {{maxeredmeny*0.5+1}}-{{maxeredmeny*0.6}}p elégséges, {{maxeredmeny*0.6+1}}-{{maxeredmeny*0.7}}p közepes, {{maxeredmeny*0.7+1}}-{{maxeredmeny*0.84}}p jó, {{maxeredmeny*0.85}}-{{maxeredmeny}}p jeles</p>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>

